
.navcontainer
{
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 600px;
 // background-color: #474050;
  background-color: #676768;
  padding: 20px;
  height: 100%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.025em;

}