@use "../../variables/variables.scss" as *;


.pane
{
  width: 100%;
 border-left: 60px solid #c0bec4;
 border-left: 60px solid #b3c396;
 
  padding: 30px;
 
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.005em;
  color: #444444;
  text-align: center;

  .pane__header
  {
    font-size: 28px;
    padding-bottom: 30px;
   // text-align: center;
    font-weight: bold;
  }

  &__image {
  height: 200px;
  width: 200px;
   padding: 0px;
   margin: 0px;
   float: right;
   margin-right: 100px;
  }

  &__text {
    text-align: left;
    padding: 20px;
    padding-bottom: 50px;
    font-size: 16px;
  }

  &__author {
text-align: left;
font-style: italic;
padding-left: 20px;
padding-bottom: 50px;
  }
   &__icons
   {
     display: flex;
     justify-content: space-between;
   }

   &__entercomment
   {
     padding-top: 40px;
     display: flex;
   }
}

.pane__head
{
  display: grid;
  grid-template-columns: 5fr 0.5fr 0.5fr;
}

.comments__section
{
 padding-left: 60px;
  //padding: 0px;
  text-align: left;
  &__row {
    padding-top: 15px;
    padding-bottom: 15px;
  //  padding-left: 20px;

  }
}


.comment
{
display: flex;
padding-top: 15px;
padding-bottom: 15px;
&__right
{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
   &__about 
   {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
   }
}
}

.commentbox
{
border-radius: 10px;
padding: 10px;
border: 1px solid #444444;
width: 300px;
height: 30px;
}

.postbutton
{
//margin: 20px;
margin-top: 10px;
margin-left: 30px;
border-radius: 5px;
border: none;
padding: 5px;
background-color: #727174;
color: white;
width: 50px;
height: 25px;
}

.commentby
{
  font-size: 16px;
  font-weight: bold;

}

.commenton
{
  color: #444444;
  font-size: 12px;
}

.commenttext
{
  font-size: 14px;
}

.likes
{
  font-style: italic;
 // font-size: 14px;
 //letter-spacing: 1em;
}

.category__head
{
  display: flex;
  flex-direction: column;
}

.category__text
{
  font-size: 20px;
}